<h2>People</h2>
<table class= "fieldsTable">

  <thead>

  <tr>

    <th> PersonId </th>

    <th> Name </th>

    <th> Budget </th>


  </tr>

  </thead>

  <tbody>

  <tr *ngFor="let person of people">

    <td>{{person.id}}</td>

    <td>{{person.name}}</td>

    <td>{{person.budget}}</td>

  </tr>

  </tbody>

</table>
<button (click) ="toggleDisplayAdd()" type="button" class="Browse">View Add Form</button>
<button (click)="toggleDisplayUpdate()" type="button" class="Browse">View Update Form</button>
<button (click)="toggleDisplayDelete()" type="button" class="Browse">View Delete Form</button>
<div id="addDiv" [hidden]="isShownAdd">
  <form id="addForm" [formGroup]="addPersonForm" (ngSubmit)="addPersonF()">
    <label for="name">
      Name
      <br>
      <input id = "name" type="text" formControlName="personName">
    </label>
    <br>
    <div class = "error" *ngIf="personName.errors?.required">
      Name is required.
    </div>
    <div class = "error" *ngIf="personName.errors?.minlength">
      Name must be at least 3 characters long.
    </div>
    <br>
    <label for="budget">
      Budget
      <br>
      <input id = "budget" type="text" formControlName="budget">
    </label>
    <div class = "error" *ngIf="budget.errors?.required">
      Budget is required.
    </div>
    <div class = "error" *ngIf="budget.errors?.min || budget.errors?.pattern">
      Budget cannot be negative.
    </div>
    <br>
    <button type="submit" [disabled]="!addPersonForm.valid" class = bottom>Add</button>
  </form>
</div>
<div id="updateDiv" [hidden]="isShownUpdate">
  <form id="updateForm" [formGroup]="updatePersonForm" (ngSubmit)="updatePersonF()">
    <label for="UpdateId">
      ID
      <br>
      <input id="UpdateId" type="text" formControlName="personId">
    </label>
    <br>
    <div class = "error" *ngIf="UpersonId.errors?.required">
      ID is required.
    </div>
    <div class = "error" *ngIf="UpersonId.errors?.pattern">
      ID must contain only letters.
    </div>
    <label for="Uname">
      Name
      <br>
      <input id = "Uname" type="text" formControlName="personName">
    </label>
    <div class = "error" *ngIf="UpersonName.errors?.required">
      Name is required.
    </div>
    <div class = "error" *ngIf="UpersonName.errors?.minlength">
      Name must be at least 3 characters long.
    </div>
    <br>
    <label for="Ubudget">
      Budget
      <br>
      <input id = "Ubudget" type="text" formControlName="budget">
    </label>
    <div class = "error" *ngIf="Ubudget.errors?.required">
      Budget is required.
    </div>
    <div class = "error" *ngIf="Ubudget.errors?.min || Ubudget.errors?.pattern">
      Budget cannot be negative.
    </div>
    <br>
    <button type="submit" [disabled]="!updatePersonForm.valid" class = bottom>Update</button>
  </form>
</div>
<div id="deleteDiv" [hidden]="isShownDelete">
  <form id="deleteForm" [formGroup]="deletePersonForm" (ngSubmit)="deletePersonF()">
    <label for="DeleteId">
      ID
      <br>
      <input id="DeleteId" type="text" formControlName="personId">
    </label>
    <br>
    <div class = "error" *ngIf="DpersonId.errors?.required">
      ID is required.
    </div>
    <div class = "error" *ngIf="DpersonId.errors?.pattern">
      ID must contain only letters.
    </div>
    <button type="submit" [disabled]="!deletePersonForm.valid" class = bottom>Delete</button>
  </form>
</div>
