<h2>Pets</h2>
<table class= "fieldsTable">

  <thead>

  <tr>

    <th> PetId </th>

    <th> Name </th>

    <th> Species </th>

    <th> SellingPrice </th>

  </tr>

  </thead>

  <tbody>

  <tr *ngFor="let pet of pets">

    <td>{{pet.id}}</td>

    <td>{{pet.name}}</td>

    <td>{{pet.species}}</td>

    <td>{{pet.sellingPrice}}</td>

  </tr>

  </tbody>

</table>

<div id="addDiv">
  <form id="addForm">
    <label for="species">Species</label><br>
    <input type="text" id="species" name="species" #species><br>

    <button id = "filterButton" (click)="filterPets(species.value)" type = "button"> Filter Pets </button>
    <button id = "GetAllPets" (click)="getPets()" type = "button"> Get All Pets </button>
  </form>
</div>
